Package: sample
Version: template
Section: embedded
Priority: standard
Architecture: armhf
Maintainer: Andrey Rodionov <info@r2cloud.ru>
Depends: r2cloud-ui (>=1513613469), service-wrapper
Description: Debian project for testing plugin
 This projects contains all possible config options enabled
